USE [Pharmacy Database Management System]
GO
/****** Object:  User [pharmacy_app]    Script Date: 2/5/2026 5:49:24 PM ******/
CREATE USER [pharmacy_app] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [pharmacy_user]    Script Date: 2/5/2026 5:49:24 PM ******/
CREATE USER [pharmacy_user] FOR LOGIN [pharmacy_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pharmacy_app]
GO
ALTER ROLE [db_datareader] ADD MEMBER [pharmacy_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [pharmacy_user]
GO
/****** Object:  Table [dbo].[PDMS]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDMS](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Prod_Name] [nvarchar](50) NOT NULL,
	[Dose] [nvarchar](50) NOT NULL,
	[Dosage_Form] [nvarchar](50) NOT NULL,
	[Supp_ID] [nvarchar](50) NOT NULL,
	[Supp_Name] [nvarchar](50) NOT NULL,
	[Manfac_Code] [nvarchar](50) NULL,
	[Pur_ID] [nvarchar](50) NOT NULL,
	[Pur_Price] [float] NOT NULL,
	[QTY_Pur] [nvarchar](50) NOT NULL,
	[Sale_ID] [nvarchar](50) NOT NULL,
	[Sale_Price] [float] NOT NULL,
	[Avg_Price] [float] NOT NULL,
	[Stock_ID] [nvarchar](50) NOT NULL,
	[QTY_Available] [nvarchar](50) NULL,
	[QTY_Sold] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Medication_Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PDMS] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC,
	[Pur_ID] ASC,
	[Sale_ID] ASC,
	[Stock_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmaceuticals_&_Medication]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmaceuticals_&_Medication](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Medication_Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PM_ProdID] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Info]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Info](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Prod_Name] [nvarchar](50) NULL,
	[Dose] [nvarchar](50) NULL,
	[Sale_Price] [float] NULL,
	[Avg_Price] [float] NOT NULL,
 CONSTRAINT [Prod_ID] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Price]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Price](
	[Avg_Price] [float] NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Dosage_Form] [nvarchar](50) NULL,
	[Pur_Price] [float] NULL,
	[Supp_ID] [varchar](10) NULL,
 CONSTRAINT [Avg_Price] PRIMARY KEY CLUSTERED 
(
	[Avg_Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Purchase_ID]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Purchase_ID](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Pur_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product_Purchase_ID] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Purchase_Info]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Purchase_Info](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Pur_Price] [nvarchar](50) NULL,
	[QTY_Pur] [nvarchar](50) NULL,
	[Supp_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product_Info_ProdID] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Sale_ID]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Sale_ID](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Sale_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product_Sale] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC,
	[Sale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Sale_Info]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Sale_Info](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Sale_Price] [float] NULL,
	[QTY_Sold] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProdSale_ProdID] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Supplier]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Supplier](
	[Prod_ID] [nvarchar](50) NOT NULL,
	[Supp_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProdSupp_ProdID] PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Manfac_code] [nvarchar](50) NULL,
	[Stock_ID] [nvarchar](50) NOT NULL,
	[Prod_ID] [nvarchar](50) NOT NULL,
	[QTY_available] [nvarchar](50) NULL,
 CONSTRAINT [PK_StockID] PRIMARY KEY CLUSTERED 
(
	[Stock_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Info]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Info](
	[Supp_ID] [nvarchar](50) NOT NULL,
	[Supp_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier_Info] PRIMARY KEY CLUSTERED 
(
	[Supp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product_Info] ADD  DEFAULT ((0)) FOR [Avg_Price]
GO
ALTER TABLE [dbo].[Pharmaceuticals_&_Medication]  WITH CHECK ADD  CONSTRAINT [FK_PM_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Pharmaceuticals_&_Medication] CHECK CONSTRAINT [FK_PM_ProdID]
GO
ALTER TABLE [dbo].[Product_Purchase_ID]  WITH CHECK ADD  CONSTRAINT [FK_ProductPurID_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Product_Purchase_ID] CHECK CONSTRAINT [FK_ProductPurID_ProdID]
GO
ALTER TABLE [dbo].[Product_Purchase_Info]  WITH CHECK ADD  CONSTRAINT [FK_ProductPurchase_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Product_Purchase_Info] CHECK CONSTRAINT [FK_ProductPurchase_ProdID]
GO
ALTER TABLE [dbo].[Product_Sale_ID]  WITH CHECK ADD  CONSTRAINT [FK_ProdSaleID_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Product_Sale_ID] CHECK CONSTRAINT [FK_ProdSaleID_ProdID]
GO
ALTER TABLE [dbo].[Product_Sale_Info]  WITH CHECK ADD  CONSTRAINT [FK_ProdSale_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Product_Sale_Info] CHECK CONSTRAINT [FK_ProdSale_ProdID]
GO
ALTER TABLE [dbo].[Product_Supplier]  WITH CHECK ADD  CONSTRAINT [FK_ProdSupp_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Product_Supplier] CHECK CONSTRAINT [FK_ProdSupp_ProdID]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_ProdID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Product_Info] ([Prod_ID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_ProdID]
GO
ALTER TABLE [dbo].[Pharmaceuticals_&_Medication]  WITH CHECK ADD  CONSTRAINT [CK_Pharmaceuticals_&_Medication] CHECK  (([Medication_Type]='OTC' OR [Medication_Type]='Prescribed'))
GO
ALTER TABLE [dbo].[Pharmaceuticals_&_Medication] CHECK CONSTRAINT [CK_Pharmaceuticals_&_Medication]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Pharmacist' OR [Role]='Admin'))
GO
/****** Object:  Trigger [dbo].[trg_LowStock]    Script Date: 2/5/2026 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_LowStock]
ON [dbo].[Stock]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Prod_ID NVARCHAR(50), @Qty INT;

    SELECT @Prod_ID = Prod_ID, @Qty = QTY_available FROM inserted;

    IF @Qty < 10 AND @Qty > 0
    BEGIN
        PRINT '⚠️ TRIGGER: Product [' + @Prod_ID + '] is LOW IN STOCK. Only ' + CAST(@Qty AS VARCHAR) + ' left.';
    END
END
GO
ALTER TABLE [dbo].[Stock] ENABLE TRIGGER [trg_LowStock]
GO
/****** Object:  Trigger [dbo].[trg_OutOfStock]    Script Date: 2/5/2026 5:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OutOfStock]
ON [dbo].[Stock]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Prod_ID NVARCHAR(50), @Qty INT;

    SELECT @Prod_ID = Prod_ID, @Qty = QTY_available FROM inserted;

    IF @Qty = 0
    BEGIN
        PRINT '❌ TRIGGER: Product [' + @Prod_ID + '] is OUT OF STOCK.';
    END
END
GO
ALTER TABLE [dbo].[Stock] ENABLE TRIGGER [trg_OutOfStock]
GO
